bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
realty-portal.sln.DotSettings.user
# uploaded photos (see PhotoStorage:RootPath)
/Server/data/
# downloaded RUIAN address point zips (see Ruian:AddressDataPath)
/Server/Features/Ruian/Data/Addresses/
